/node_modules
/public/hot
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
/config/filesystem.php
.htaccess
index.php
database/migrations/2022_12_14_123515_create_media_table.php
server.php
artisan
/storage
img/
